.main-wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.titles {
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 8%;
}

.card-wrap {
  margin-right: 10px;
  margin-left: 10px;
  transition-duration: 0.4s;
}

.card-wrap:hover {
  transform: scale(1.05);
}

.card {
  position: relative;
  padding-bottom: 26px;
}

.white_background {
  width: 218px;
  height: 214px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 6px;
  position: absolute;
  left: 19px;
  top: 53px;
  z-index: 2;
  box-shadow: 0px 4px 4px rgba(115, 110, 227, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.actions {
  width: 225px;
  padding-left: 19px;
}

.start {
  justify-content: space-between;
  display: flex;
}

.finish {
  padding-top: 20px;
  display: inline-block;
}

.product_link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  /* identical to box height, or 75% */
  color: #000000;
  padding-top: 24px;
  padding-bottom: 16px;
}

.favorite_btn {
  border: none;
  background-color: #FFFFFF;
  position: relative;
  top: -45px;
  right: 12px;
  z-index: 100;
  background: none;
}

.favorite_btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.stars {
  padding-top: 7px;
  padding-left: 3px;
}

.btn_finish {
  width: 222px;
  height: 44px;
  background: #DAF4FF;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #0D47AA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.print {
  margin-bottom: 12px;
}

.download {
  margin-bottom: 60px;
}

.card-download-btn-link {
  text-decoration: none;
}

.print:hover,
.download:hover {
  cursor: pointer;
  opacity: 0.5;
}

.show-more {
  margin: 0 auto;
  margin-bottom: 60px;

  width: 282px;
  max-width: 100%;
  min-width: 150px;
  height: 54px;
  background-color: #f7822b;
  border-radius: 20px;

  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 53px;
}

.show-more:hover {
  cursor: pointer;
  opacity: 0.5;
}

.bottom-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  color: #0d47aa;
  text-align: justify;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 60px;
}

.delete-elem {
  display: none;
}