.footer-wrap {
  background-color: #9fe0fc;
  padding-top: 40px;
  /* padding-bottom: 40px; */
  /* padding-left: 12.5%; */
  min-height: 220px;
}

.footer-list {
  max-width: 1440px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  /* padding-top: 15px; */
  padding-bottom: 20px;
  /* width: 197px; */
  margin-right: 113px;
}

.footer-link {
  text-decoration: none;
  color: #0c47aa;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.footer_copyright {
  display: flex;
  /* align-items: center;
  margin-left: 95px;
  margin-top: 30px; */
}

.copyright_title {
  margin-left: 5px;
  font-family: "Montserrat, sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0d47aa;
}
.copyright_text {
  /* margin-left: auto; */
  /* margin-right: 150px; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0d47aa;
}
.footer-while {
  background-color: white;
}
.footer_box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* max-width: 1440px; */
  margin-top: 60px;
}
.footer_wraper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.footer_left {
  margin-left: 50px;
}

<<<<<<< HEAD
=======
/* Медиа запросы для адаптивного дизайна веб-страниц */

@media (max-width: 1440px) {
  .footer_wraper {
    margin-left: 40px;
  }
  .copyright_text {
    margin-right: 40px;
  }
}

>>>>>>> 1f719706e93655b64a03867d8e1df628cb53968d
@media (max-width: 1024px) {
  .footer_wraper {
    margin-left: 40px;
  }
  .copyright_text {
    margin-right: 40px;
  }
  .footer-item {
    margin-right: 169px;
  }
}
@media (max-width: 360px) {
  .footer_wraper {
    margin-left: 20px;
  }
  .footer-item {
    padding-bottom: 12px;
    width: 273px;
  }
  .footer-wrap {
    padding-top: 20px;
<<<<<<< HEAD
    min-height: 251px;
=======
    min-height: 240px;
>>>>>>> 1f719706e93655b64a03867d8e1df628cb53968d
  }
  .footer_box {
    margin-top: 20px;
    display: block;
  }
  .copyright_text {
    font-size: 12px;
  }
<<<<<<< HEAD
=======
  .footer-list {
    display: block;
  }
  .header-item {
    margin-right: 0;
  }
>>>>>>> 1f719706e93655b64a03867d8e1df628cb53968d
}
