.content-wrap {
    background: #FFFFFF;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    padding-right: 10%;
    padding-left: 10%;
}

.header {
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #5CCF54;
}


.text {
    position: absolute;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 160%;
    padding-top: 60px;
}

.info {
    position: absolute;
    bottom: 55px;
    left: 90px;
}

.text_link {
    text-decoration: none;
}

.box {
    padding-left: 55px;
    display: flex;
    padding-bottom: 137px;

}

.bird {
    position: relative;
    left: 710px;
    top: 35px;
}